<%- include('templates/header') %>

<body>
    <div>
        <h1>You are logged out.</h1>
        <form action="/" method="get">
            <button
                type="submit"
                style="
                    padding: 12px 24px;
                    background-color: olivedrab;
                    color: white;
                    border: none;
                    border-radius: 6px;
                    font-size: 16px;
                    cursor: pointer;
                "
            >
                Return to Home
            </button>
        </form>
    </div>
</body>

<%- include('templates/footer') %>
