            </main>
        <footer style="background-color: olivedrab; color: white; text-align: center; padding: 15px;">
            &copy; 2025 Wildpath • All rights reserved
        </footer>
    </body>
</html>